{% extends "base.html" %}
{% block style %}
    .product-title,  .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
{% endblock %}
{% block content %}
    <div class="container bg bg-white">

    <div class="container-fliud">
    <div class="wrapper row">
    
    <div class="details col-6">
        <h1>Title: {{ book.bookname }}</h1>

        <p><strong>Author:</strong>{{ book.author }}</p>
        <p><strong>Subject:</strong> {{ book.subject }}</p>
        <div style="margin-left:20px;margin-top:20px">
            <h4>Copies</h4>
            {% if user.is_superuser %}
                <a class="btn btn-danger" href="">DELETE</a>
                <a class="btn btn-success" href="">Update</a>

            {% endif %}
            {% if available_copies %}
                <br>
                no of avialable copies={{ available_copies }}<br>
                <a class="btn btn-primary" href="{% url 'frontend:book_issue' book.pk %}">Issue</a>
            {% endif %}      </div>

    </div>

    

   

{% endblock %}
